.section {
   background-color: #ebebeb;

   .wrap {
      max-width: 1140px;
      margin: 0 auto;
      padding: 90px 15px;
      display: flex;
      flex-direction: column;
      gap: 90px;

      .cards {
         display: flex;
         justify-content: space-between;
      }

      .overview {
         display: flex;
         justify-content: space-between;
         align-items: center;

         img {
            max-width: 730px;
         }

         .text {
            max-width: 350px;
            display: flex;
            gap: 20px;
            flex-direction: column;
         }
      }

      @media (max-width: 1140px) {
         background-color: #ebebeb;
      }
   }

   @media (max-width: 1140px) {
      background-color: none;
   }
}
