header {
   position: fixed;
   width: 100%;
   z-index: 4;

   border-bottom: solid 1px #dddddd;

   background-color: #fff;

   .wrap {
      width: 1140px;
      margin: 0 auto;
      padding: 28px 15px 27px 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
         height: 22px;
      }

      .links {
         height: 24px;
         display: flex;
         gap: 60px;
         align-items: center;
      }

      @media (max-width: 1140px) {
         border-bottom: solid 1px #dddddd;
      }
   }

   @media (max-width: 1140px) {
      border: none;
   }
}
