@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
   font-family: roboto;
   text-decoration: none;
}

.black20 {
   font-size: 20px;
   font-weight: 400;
   line-height: 23px;

   color: #4c5866;
}

.black60 {
   font-size: 60px;
   font-weight: 400;
   line-height: 60px;

   color: #4c5866;
}

.semiGray18 {
   font-size: 18px;
   font-weight: 500;
   line-height: 27px;

   color: #666666;
}

.semiGray30 {
   font-size: 30px;
   font-weight: 400;
   line-height: 35.16px;

   color: #666666;
}

.semiGray40 {
   font-size: 40px;
   font-weight: 400;
   line-height: 40px;

   color: #666666;
}

.lightGray14 {
   font-size: 14px;
   font-weight: 400;
   line-height: 16px;

   color: #b5b5bd;
}

.gray18 {
   font-size: 18px;
   font-weight: 400;
   line-height: 27px;

   color: #85859b;
}

.gray18High {
   font-size: 18px;
   font-weight: 400;
   line-height: 30px;

   color: #85859b;
}

.purple20 {
   font-size: 20px;
   font-weight: 400;
   line-height: 23px;

   color: #7875fe;
}
