.section {
   position: relative;
   max-width: 1140px;
   margin: 0 auto;
   padding: 210px 15px 130px 15px;
   overflow: hidden;

   @media (max-width: 7689px) {
      padding: 173px 39px 65px 39px;
   }

   .content {
      max-width: 445px;
      display: flex;
      gap: 30px;
      flex-direction: column;

      @media (max-width: 7689px) {
         width: 390px;
      }

      .button {
         width: 255px;
         height: 70px;

         border: 1px solid #7875fe;

         background-color: #fff;
      }
   }

   img {
      position: absolute;
      top: 120px;
      right: 15px;

      @media (max-width: 7689px) {
         max-width: 270px;
         top: 168px;
         right: 39px;
      }
   }
}
